### **1. Trabajando con DataFrame.**

In [ ]:
from google.colab import files
files.upload()

In [ ]:
import pandas as pd
import numpy as np

Se carga el archivo teams.csv y se establecen las cabeceras
Se define df_teams

In [ ]:
teamsHeader = ['team', 'twitter', 'url','ncaa_id','stats_name','private','team_state','conference','division']
df_teams = pd.read_csv('teams.csv', sep=',', header=None, names=teamsHeader)
df_teams

,team,twitter,url,ncaa_id,stats_name,private,team_state,conference,division
0,team,twitter,url,ncaa_id,stats_name,private,team_state,conference,division
1,Abilene Christian,acuwbb,https://acusports.com/sports/womens-basketball,2,Abilene Christian,NaN,TX,WAC,I
2,Adelphi,AdelphiWBB,https://aupanthers.com/sports/womens-basketball,3,NaN,NaN,NY,NE10,II
3,Akron,zipswbb,https://gozips.com/sports/womens-basketball,5,Akron,NaN,OH,MAC,I
4,Alabama A&M,aamuwbb,https://aamusports.com/sports/womens-basketball,6,Alabama A&M,NaN,AL,SWAC,I
...,...,...,...,...,...,...,...,...,...
941,Davenport,DU_WBB,https://dupanthers.com/sports/womens-basketball,30221,Davenport,NaN,MI,GLIAC,II
942,Purdue Northwest,PNWWBB,https://pnwathletics.com/sports/womens-basketball,30222,Purdue Northwest,NaN,IN,GLIAC,II
943,SUNY Delhi,SUNYDelhiWBB,https://delhibroncos.com/sports/wbkb/index,30225,NaN,NaN,NY,North Atlantic,III
944,Edward Waters,NaN,https://www.ewctigerpride.com/sport/0/2.php,30244,Edward Waters,TRUE,FL,SIAC,II
945,Talladega,NaN,http://www.talladegatornadoes.com/sport/0/3,505160,Talladega,TRUE,AL,NaN,NAIA

In [ ]:
df_teams.groupby("conference").size()

conference
AAC            11
ACC            15
AMCC            6
ASC             9
ASUN           14
               ..
United East     6
WAC            13
WCC             9
WIAC            8
conference      1
Length: 105, dtype: int64

In [ ]:
df_teams.groupby('division').size()

division
I           360
II          246
III         335
NAIA          2
division      1
dtype: int64

In [ ]:
df_teams.groupby('team_state').size()

team_state
AK             2
AL            18
AR            13
AZ             4
CA            51
CO            14
CT            19
DC             6
DE             2
FL            26
GA            19
HI             1
IA            14
ID             4
IL            36
IN            21
KS             8
KY            14
LA            13
MA            41
MD            19
ME             7
MI            24
MN            27
MO            21
MS            10
MT             3
NC            35
ND             3
NE             7
NH             6
NJ            23
NM             4
NV             2
NY            73
OH            41
OK            14
OR            10
PA            84
RI             8
SC            21
SD             7
TN            20
TX            49
UT             8
VA            30
VT             7
WA            12
WI            26
WV            16
WY             1
team_state     1
dtype: int64

El estado con mayor equipos es PA con 4 equipos

In [ ]:
d_team_state = {'AK' : 'Alaska', 'AL' : 'Alabama', 'AR' : 'Arkansas', 'AZ' : 'Arizona', 'CA' : 'California', 'CO' : 'Colorado', 'CT' : 'Connecticut', 'DC' : 'District of Columbia', 'DE' : 'Delaware', 'FL' : 'Florida',
                'GA' : 'Georgia', 'HI' : 'Hawaii', 'IA' : 'Iowa', 'ID' : 'Idaho', 'IL' : 'Illinois', 'IN' : 'Indiana', 'KS' : 'Kansas', 'KY' : 'Kentucky', 'LA' : 'Louisiana', 'MA' : 'Massachusetts',
                'MD' : 'Maryland', 'ME' : 'Maine', 'MI' : 'Michigan', 'MN' : 'Minnesota', 'MO' : 'Missouri', 'MS' : 'Mississippi', 'MT' : 'Montana', 'NC' : 'North Carolina', 'ND' : 'North Dakota', 'NE' : 'Nebraska',
                'NH' : 'New Hampshire', 'NJ' : 'New Jersey', 'NM' : 'New Mexico', 'NV' : 'Nevada', 'NY' : 'New York', 'OH' : 'Ohio', 'OK' : 'Oklahoma', 'OR' : 'Oregon', 'PA' : 'Pennsylvania', 'RI' : 'Rhode Island',
                'SC' : 'South Carolina', 'SD' : 'South Dakota', 'TN' : 'Tennessee', 'TX' : 'Texas', 'UT' : 'Utah', 'VA' : 'Virginia', 'VT' : 'Vermont', 'WA' : 'Washington', 'WI' : 'Wisconsin', 'WV' : 'West Virginia', 'WY' : 'Wyoming' }

In [ ]:
d_div_team={'I':1,'II':2,'III':3,'NaN':0}

In [ ]:
df_teams['d_div_team'] = df_teams['division'].map(d_div_team)

In [ ]:
nullout=df_teams.fillna(0)

In [ ]:
df_teams.where(df_teams['d_div_team'] == 2)

,team,twitter,url,ncaa_id,stats_name,private,team_state,conference,division,d_team_state,d_div_team
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Adelphi,AdelphiWBB,https://aupanthers.com/sports/womens-basketball,3,NaN,NaN,NY,NE10,II,New York,2.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
941,Davenport,DU_WBB,https://dupanthers.com/sports/womens-basketball,30221,Davenport,NaN,MI,GLIAC,II,Michigan,2.0
942,Purdue Northwest,PNWWBB,https://pnwathletics.com/sports/womens-basketball,30222,Purdue Northwest,NaN,IN,GLIAC,II,Indiana,2.0
943,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
944,Edward Waters,NaN,https://www.ewctigerpride.com/sport/0/2.php,30244,Edward Waters,TRUE,FL,SIAC,II,Florida,2.0
945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_teams

,team,twitter,url,ncaa_id,stats_name,private,team_state,conference,division,d_team_state,d_div_team
0,team,twitter,url,ncaa_id,stats_name,private,team_state,conference,division,NaN,NaN
1,Abilene Christian,acuwbb,https://acusports.com/sports/womens-basketball,2,Abilene Christian,NaN,TX,WAC,I,Texas,1.0
2,Adelphi,AdelphiWBB,https://aupanthers.com/sports/womens-basketball,3,NaN,NaN,NY,NE10,II,New York,2.0
3,Akron,zipswbb,https://gozips.com/sports/womens-basketball,5,Akron,NaN,OH,MAC,I,Ohio,1.0
4,Alabama A&M,aamuwbb,https://aamusports.com/sports/womens-basketball,6,Alabama A&M,NaN,AL,SWAC,I,Alabama,1.0
...,...,...,...,...,...,...,...,...,...,...,...
941,Davenport,DU_WBB,https://dupanthers.com/sports/womens-basketball,30221,Davenport,NaN,MI,GLIAC,II,Michigan,2.0
942,Purdue Northwest,PNWWBB,https://pnwathletics.com/sports/womens-basketball,30222,Purdue Northwest,NaN,IN,GLIAC,II,Indiana,2.0
943,SUNY Delhi,SUNYDelhiWBB,https://delhibroncos.com/sports/wbkb/index,30225,NaN,NaN,NY,North Atlantic,III,New York,3.0
944,Edward Waters,NaN,https://www.ewctigerpride.com/sport/0/2.php,30244,Edward Waters,TRUE,FL,SIAC,II,Florida,2.0
945,Talladega,NaN,http://www.talladegatornadoes.com/sport/0/3,505160,Talladega,TRUE,AL,NaN,NAIA,Alabama,NaN

In [ ]:
d_genero = { 0: 'Femenino', 1: 'Masculino'}

In [ ]:
df_teams['d_team_state'] = df_teams['team_state'].map(d_team_state)

In [ ]:
df_teams

,team,twitter,url,ncaa_id,stats_name,private,team_state,conference,division,d_team_state
0,team,twitter,url,ncaa_id,stats_name,private,team_state,conference,division,NaN
1,Abilene Christian,acuwbb,https://acusports.com/sports/womens-basketball,2,Abilene Christian,NaN,TX,WAC,I,Texas
2,Adelphi,AdelphiWBB,https://aupanthers.com/sports/womens-basketball,3,NaN,NaN,NY,NE10,II,New York
3,Akron,zipswbb,https://gozips.com/sports/womens-basketball,5,Akron,NaN,OH,MAC,I,Ohio
4,Alabama A&M,aamuwbb,https://aamusports.com/sports/womens-basketball,6,Alabama A&M,NaN,AL,SWAC,I,Alabama
...,...,...,...,...,...,...,...,...,...,...
941,Davenport,DU_WBB,https://dupanthers.com/sports/womens-basketball,30221,Davenport,NaN,MI,GLIAC,II,Michigan
942,Purdue Northwest,PNWWBB,https://pnwathletics.com/sports/womens-basketball,30222,Purdue Northwest,NaN,IN,GLIAC,II,Indiana
943,SUNY Delhi,SUNYDelhiWBB,https://delhibroncos.com/sports/wbkb/index,30225,NaN,NaN,NY,North Atlantic,III,New York
944,Edward Waters,NaN,https://www.ewctigerpride.com/sport/0/2.php,30244,Edward Waters,TRUE,FL,SIAC,II,Florida
945,Talladega,NaN,http://www.talladegatornadoes.com/sport/0/3,505160,Talladega,TRUE,AL,NaN,NAIA,Alabama

In [ ]:
df_students.groupby('desc_genero').size()

desc_genero
Femenino     505
Masculino    495
dtype: int64

In [ ]:
df_teams.describe()

,team,twitter,url,ncaa_id,stats_name,private,team_state,conference,division
count,946,942,942,946,650,27,945,942,944
unique,946,942,942,946,650,3,52,105,5
top,team,twitter,url,ncaa_id,stats_name,FALSE,PA,ACC,I
freq,1,1,1,1,1,15,84,15,360

In [ ]:
df_teams.head(10)

,team,twitter,url,ncaa_id,stats_name,private,team_state,conference,division
0,team,twitter,url,ncaa_id,stats_name,private,team_state,conference,division
1,Abilene Christian,acuwbb,https://acusports.com/sports/womens-basketball,2,Abilene Christian,NaN,TX,WAC,I
2,Adelphi,AdelphiWBB,https://aupanthers.com/sports/womens-basketball,3,NaN,NaN,NY,NE10,II
3,Akron,zipswbb,https://gozips.com/sports/womens-basketball,5,Akron,NaN,OH,MAC,I
4,Alabama A&M,aamuwbb,https://aamusports.com/sports/womens-basketball,6,Alabama A&M,NaN,AL,SWAC,I
5,Alabama State,bamastatewbb,https://bamastatesports.com/sports/womens-bask...,7,Alabama St.,NaN,AL,SWAC,I
6,Alabama,alabamawbb,https://rolltide.com/sports/womens-basketball,8,Alabama,NaN,AL,SEC,I
7,UAB,UAB_WBBALL,https://uabsports.com/sports/womens-basketball,9,Uab,FALSE,AL,C-USA,I
8,Alas. Anchorage,UAAWBB,https://goseawolves.com/sports/womens-basketball,11,Alas. Anchorage,NaN,AK,Great Northwest,II
9,Alas. Fairbanks,NanooksWBB,https://alaskananooks.com/sports/womens-basket...,12,Alas. Fairbanks,NaN,AK,Great Northwest,II

In [ ]:
df_students.columns

Index(['nota', 'genero', 'asistencia', 'desc_genero'], dtype='object')

In [ ]:
pd.unique(df_students['nota'])

array([4.7, 3.9, 1.5, 5. , 4. , 2.9, 1.8, 1.2, 3. , 2.4, 1.3, 6.5, 3.7,
       5.4, 4.4, 5.2, 2.2, 3.3, 5.1, 4.1, 4.8, 4.3, 2.7, 6.2, 4.5, 3.1,
       6. , 5.9, 2.8, 6.3, 1.1, 5.6, 3.2, 6.9, 1.6, 3.6, 2. , 2.3, 6.8,
       5.3, 5.8, 5.5, 1.9, 6.6, 6.1, 6.7, 7. , 3.4, 3.8, 6.4, 4.6, 1.7,
       2.6, 3.5, 2.5, 1.4, 2.1, 1. , 5.7, 4.2, 4.9])

In [ ]:
#Queremos  saber que estados tienen equipos por todas las divisiones

estado_division = df_teams.groupby(['d_team_state'])['division'].nunique()
estado_division.sort_index(level=1, sort_remaining=False)

d_team_state
Alabama                 4
Alaska                  1
Arizona                 1
Arkansas                3
California              3
Colorado                3
Connecticut             3
Delaware                1
District of Columbia    3
Florida                 2
Georgia                 3
Hawaii                  1
Idaho                   2
Illinois                3
Indiana                 3
Iowa                    4
Kansas                  2
Kentucky                3
Louisiana               2
Maine                   2
Maryland                3
Massachusetts           3
Michigan                3
Minnesota               3
Mississippi             3
Missouri                3
Montana                 2
Nebraska                3
Nevada                  1
New Hampshire           3
New Jersey              3
New Mexico              2
New York                3
North Carolina          3
North Dakota            2
Ohio                    3
Oklahoma                2
Oregon                  3
Pennsylvania            3
Rhode Island            2
South Carolina          2
South Dakota            2
Tennessee               3
Texas                   3
Utah                    2
Vermont                 3
Virginia                3
Washington              3
West Virginia           3
Wisconsin               3
Wyoming                 1
Name: division, dtype: int64

In [ ]:
#Queremos  saber que estados tienen equipos por todas las divisiones

estado_division = df_teams.groupby(['d_team_state'])['division'].unique()
estado_division.sort_index(level=1, sort_remaining=False)

d_team_state
Alabama                 [I, II, III, NAIA]
Alaska                                [II]
Arizona                                [I]
Arkansas                      [I, II, III]
California                    [III, I, II]
Colorado                      [III, II, I]
Connecticut                   [II, I, III]
Delaware                               [I]
District of Columbia          [I, III, II]
Florida                            [II, I]
Georgia                       [II, III, I]
Hawaii                                 [I]
Idaho                              [I, II]
Illinois                 [III, I, II, nan]
Indiana                       [I, III, II]
Iowa                    [III, I, II, NAIA]
Kansas                             [I, II]
Kentucky                      [I, III, II]
Louisiana                         [III, I]
Maine                             [III, I]
Maryland                      [II, I, III]
Massachusetts                 [II, III, I]
Michigan                      [III, I, II]
Minnesota                     [III, II, I]
Mississippi                   [I, II, III]
Missouri                      [II, I, III]
Montana                            [II, I]
Nebraska                      [I, III, II]
Nevada                                 [I]
New Hampshire                 [II, III, I]
New Jersey                    [III, I, II]
New Mexico                         [II, I]
New York                      [II, I, III]
North Carolina                [I, II, III]
North Dakota                       [I, II]
Ohio                          [I, II, III]
Oklahoma                           [I, II]
Oregon                   [I, III, II, nan]
Pennsylvania                  [III, II, I]
Rhode Island                      [I, III]
South Carolina                     [I, II]
South Dakota                       [II, I]
Tennessee                     [I, III, II]
Texas                         [I, II, III]
Utah                               [I, II]
Vermont                       [III, I, II]
Virginia                      [III, II, I]
Washington                    [I, III, II]
West Virginia                 [III, II, I]
Wisconsin                     [III, I, II]
Wyoming                                [I]
Name: division, dtype: object

### **1.1. Diferencias entre len() y nunique().**

In [ ]:
lstNotas = df_students['nota']
lstNotas

In [ ]:
print(len(lstNotas))
print(df_students['nota'].nunique())

1000
61

In [ ]:
print("Max :", df_students['nota'].max())
print("Min :", df_students['nota'].min())
print("Promedio :", df_students['nota'].mean())
print("DesviaciÃ³n estÃ¡ndar :", df_students['nota'].std())
print("Count :", df_students['nota'].count())

Max : 7.0
Min : 1.0
Promedio : 3.9788
DesviaciÃ³n estÃ¡ndar : 1.7484071286423788
Count : 1000

In [ ]:
grupo_genero = df_students.groupby('desc_genero')
grupo_genero.describe()

              nota                                ... asistencia
             count      mean       std  min  25%  ...        min  25%  50%  75%  max
desc_genero                                       ...
Femenino     505.0  3.967129  1.777513  1.0  2.3  ...        0.0  0.3  0.5  0.7  1.0
Masculino    495.0  3.990707  1.719922  1.0  2.5  ...        0.0  0.2  0.5  0.8  1.0

[2 rows x 24 columns]

In [ ]:
# Regresa la media de cada columna numÃ©rica por genero
grupo_genero.mean()

                 nota  genero  asistencia
desc_genero
Femenino     3.967129     0.0    0.498416
Masculino    3.990707     1.0    0.513333

In [ ]:
df_students.dtypes

nota           float64
genero         float64
asistencia     float64
desc_genero     object
dtype: object

In [ ]:
df_students.shape

(1000, 4)

In [ ]:
df_students.tail()

     nota  genero  asistencia desc_genero
995   6.2     0.0         0.1    Femenino
996   6.3     0.0         0.1    Femenino
997   6.7     0.0         0.3    Femenino
998   7.0     0.0         0.8    Femenino
999   4.2     0.0         0.3    Femenino

In [ ]:
avg_by_gender = df_students.groupby('desc_genero')['nota'].mean()
avg_by_gender

desc_genero
Femenino     3.967129
Masculino    3.990707
Name: nota, dtype: float64

In [ ]:
result = df_students.groupby('desc_genero')['nota'].max()
result

desc_genero
Femenino     7.0
Masculino    7.0
Name: nota, dtype: float64